<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head th:replace="headers :: head(title='Home')" lang="en">
    <meta charset="UTF-8"/>
</head>
<body class="book">
<div th:replace="headers :: header"><!-- Top Bar --></div>

<div class="container">
    <div id="overall-content">
        <div class="row">
            <div id="content" class="col-md-9">
                <!-- Content goes here -->
            </div>
            <div id="tableOfContent" class="col-md-3">
                <!-- TOC goes here -->
            </div>
        </div>
    </div>
</div>
<div class="container">
    <!-- Insert footer -->
    <div th:replace="footer :: footer"></div>
</div>

<div th:replace="scripts :: scripts"></div>

<script th:inline="javascript">
    /*<![CDATA[*/
    var page = /*[[${page}]]*/ "/assets/site/learn.html";
    var retrieved;
    // Load the content.
    function updateSnapshotLinks() {
        $('a:contains("-SNAPSHOT")').addClass("text-muted");
    }

    function navigateToHash() {
        var hash = window.location.hash;
        if (hash != null  && hash != undefined  && hash.length != 0) {
            // We need to set it to empty first, as navigation is only trigger on change.
            window.location.hash = "";
            $('html, body').animate({
                scrollTop: $( hash ).offset().top
            }, 200);
            window.location.hash = hash;
        }
    }

    $(document).ready(function() {
        $.ajax({
            url: page,
            success: function (oData) {
                var tocPlaceholder = $("#tableOfContent");
                var contentPlaceholder = $("#content");
                // Strip the whole headers
                var content = $(oData).filter("div#content");
                contentPlaceholder.html(content);

                var toc = $(oData).find("div#toc");
                if (toc.length != 0) {
                    tocPlaceholder.html(toc.removeClass("toc2"));
                } else {
                    contentPlaceholder.removeClass("col-md-9").addClass("col-md-12");
                }

                navigateToHash();
                updateSnapshotLinks();

                if (hljs != undefined) {
                    $('pre code').each(function(i, e) {hljs.highlightBlock(e)});
                }

                //var footer = $(oData).filter("div#footer");
                //content.append(footer);
            },
            dataType: 'html'
        });

        $('pre code').each(function(i, e) {hljs.highlightBlock(e)});
    });
    /*]]>*/
</script>

</body>
</html>