<!DOCTYPE html>
<html>

<!-- Head fragment (require the title argument) -->
<head th:fragment="head (title, skipGithubCSS)" lang="en">
    <meta charset="UTF-8"/>
    <link rel="shortcut icon" href="/assets/images/owl-small.png"/>
    <title th:utext="'Wisdom Framework - ' + ${title}">Wisdom Framework</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.css" media="screen"/>
    <!--<link rel="stylesheet" href="/libs/bootswatch-flatly/3.1.1/css/bootstrap-theme.css">-->
    <link rel="stylesheet" href="/libs/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/libs/font-mfizz.css"/>
     <link rel="stylesheet" href="/assets/stylesheets/github.css" th:unless="${skipGithubCSS}"/>
    <link rel="stylesheet" href="/assets/stylesheets/wisdom.css"/>

    <link rel="stylesheet"
          href="/libs/styles/solarized_light.min.css"/>
    <script src="/libs/highlight.min.js"/>
    <link rel="stylesheet" href="/assets/style.css"/>

    <!-- Google Analytics -->
    <script>
        /*<![CDATA[*/
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-49961667-1', 'wisdom-framework.org');
        ga('send', 'pageview');
        /*]]>*/
    </script>
</head>
<!-- End fragment -->

<body>

<!-- Header fragment - Top bar -->
<div  th:fragment="header" class="blog-masthead">
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#links">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="/assets/images/owl-small.png"/>&nbsp;Wisdom Framework</a>
            </div>
            <div class="collapse navbar-collapse navbar-right" id="links">
                <ul class="nav navbar-nav">
                    <li><a class="nav-item nav-active" href="/">Home</a></li>
                    <li><a class="nav-item" href="/learn">Learn</a></li>
                    <li><a class="nav-item" th:href="'/download'"> Download</a></li>
                    <li><a class="nav-item" th:href="'/reference/' + ${wisdom.version} + '/index.html'">
                        Documentation</a></li>


                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Community <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/learn/community/community.html">Mailing List and
                                Issues</a></li>
                            <li><a href="/releases">Release Notes</a></li>
                            <li><a href="/registry/dev">Wisdom Extension Registry</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<!-- End fragment -->

</body>
</html>