<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head th:replace="headers :: head(title='Home', skipGithubCSS=${skipGithubCSS})" lang="en">
    <meta charset="UTF-8"/>
  <script src="/assets/libs/wisdom-news.js"/>

</head>
<body>
<div th:replace="headers :: header"><!-- Top Bar --></div>

<div class="container-fluid mainpage">
    <div class="row section1">
        <div class="col-md-12 col-xs-12" id="intro">
            <h1>
                Wisdom:<br/>
                Enlighten your web development
            </h1>
            <h3>A high velocity web framework to build<br/> modular and dynamic
                applications in Java</h3>
            <br/>
        </div>

    </div>

    <div class="row section2">
        <div class="col-xs-12 col-sm-4">
            <img src="/assets/images/mod2-sm.jpg" class="img-responsive img-circle"
                 alt="Modular box each with a different zen compartment "/>
            <h2 class="highlight-color">
                Modular</h2>

            <p>
                Wisdom lets you build modular web applications. Instead of having everything in
                one
                package you can
                structure
                your application as you want, making pieces replaceable and adaptable.
            </p>
        </div>
        <div class="col-xs-12 col-sm-4">
            <img src="/assets/images/chameleon-tribal-sm.png" class="img-responsive img-circle"
                 alt="Tribal chameleon design"/>
            <h2 class="highlight-color">Dynamic</h2>

            <p>
                Wisdom applications are natively dynamic, and can adapt themselves to meet new
                expectations and
                coping with environment fluctuations.
            </p></div>
        <div class="col-xs-12 col-sm-4">
            <img src="/assets/images/zen-stones-sm.jpg" class="img-responsive img-circle"
                 alt="Zen stones"/>
            <h2 class="highlight-color">Extensible
            </h2>

            <p>
                Wisdom provides everything you need to develop web applications: efficient
                development, tests,
                deployment, monitoring, administration... But, everything is customizable and
                extensible.
            </p>

        </div>
    </div>
    <div class="row section3">
        <div class="col-xs-12 myrow">
            <div class="col-xs-6 col-sm-3 mycol mycol-sm img-border">
                <img src="/assets/images/Zen-Stone-sm.jpg" class="img-responsive img-rounded side-img"
                     alt="Black zen stones"/>
            </div>
            <div class="col-xs-6 col-sm-3 mycol mycol-sm">
                <h1 class="">
                    Full Stack
                </h1>
            </div>
            <div class="col-xs-12 col-sm-6 mycol">
                <h2>
                    The Wisdom technical stack relies on well-tried technologies integrated in a
                    modular
                    way. It covers
                    development, testing, deployment, monitoring and administration.
                </h2>
            </div>
        </div>
        <div class="col-xs-12 java myrow">
            <div class="col-xs-6 col-sm-3 mycol img-border" id="java">
                <img src="/assets/images/cofeeowl-sm.jpg" class="img-responsive img-rounded side-img"
                     alt="Owl made from coffee beans and coffee mugs"/>

            </div>
            <div class="col-xs-6 col-sm-3 mycol">
                <h1 class="centerme">
                    Java
                </h1>
            </div>
            <div class="col-xs-12 col-sm-6 mycol">
                <h2>
                    Wisdom is a full stack based on Java and its ecosystem. And yes, Java can be used to
                    build modern web
                    applications without disowning itself, and actually it does it very well.
                </h2>
            </div>
        </div>

        <div class="col-xs-12 myrow osgi">
            <div class="col-xs-6 col-sm-3 mycol img-border">
                <img src="/assets/images/japanese_stone-sm.jpg" class="img-responsive img-rounded side-img"
                     alt="Stack of black zen stones"/>

            </div>
            <div class="col-xs-6 col-sm-3 mycol">
                <h1 class="centerme">
                    OSGi<sup>&trade;</sup>
                </h1>
            </div>
            <div class="col-xs-12 col-sm-6 mycol">
                <h2>
                    Wisdom relies on OSGi&trade; to enforce its modularity. OSGi&trade; is the most
                    mature
                    modularity model for
                    Java. But don't worry, Wisdom makes it easy.
                </h2></div>
        </div>
        <div class="col-xs-12 maven myrow">
            <div class="col-xs-6 col-sm-3 mycol img-border">
                <img src="/assets/images/feather-sm.jpg" class="img-responsive img-rounded side-img"
                     alt="Brown and white owl feather"/>

            </div>
            <div class="col-xs-6 col-sm-3 mycol">
                <h1 class="">
                    Apache Maven
                </h1>
            </div>

            <div class="col-xs-12 col-sm-6 mycol">
                <h2>
                    Apache Maven is one of the most used build tools for Java applications. Wisdom
                    relies on it but
                    extend it to make development fast without breaking reproducibility and
                    industrialization.
                </h2></div>
        </div>

    </div>
    <div class="row section4">
        <div class="col-xs-12 col-sm-6 news" id="news-section">
            <h1 class="highlight-color">News</h1>
            <p>blahblah news is here wow</p>
            <div class="col-xs-12 col-sm-12"><div class="col-xs-12 col-sm-6">I am a title</div>
                <div class="col-xs-12 col-sm-6">sept 6th 2014</div>
                <div class="col-xs-12 col-sm-12">Lorem ipsum dolor sit amet, consectetur adipiscin
                    g elit. Vivamus tempus, erat eu mattis accumsan, nisl lectus consectetur ex, vel suscipit ex justo eget augue. Nam ultricies, nisl vel convallis tempor, libero urna mollis urna, nec congue sem erat in ex. Ut viverra lacus ornare, sodales dolor accumsan, scelerisque lacus. Donec ipsum eros, pellentesque vitae vestibulum quis, commodo in velit. Aenean tincidunt, urna vitae convallis dignissim, leo nisl ultrices enim, vitae tincidunt arcu sapien a enim. Proin interdum arcu et est facilisis, in faucibus nunc fringilla. Quisque eu libero convallis, dignissim velit eget, porta orci. Aliquam laoreet diam quis eleifend vulputate. Aliquam non sapien eu dolor malesuada maximus. Suspendisse hendrerit id lectus sit amet commodo. Fusce iaculis cursus ex vitae mattis
                </div>
            </div>
            <br/>
            <div class="col-xs-12 col-sm-12"><div class="col-xs-12 col-sm-6">I am a title</div>
                <div class="col-xs-12 col-sm-6">sept 6th 2014</div>
                <div class="col-xs-12 col-sm-12">Lorem ipsum dolor sit amet, consectetur adipiscin
                    g elit. Vivamus tempus, erat eu mattis accumsan, nisl lectus consectetur ex, vel suscipit ex justo eget augue. Nam ultricies, nisl vel convallis tempor, libero urna mollis urna, nec congue sem erat in ex. Ut viverra lacus ornare, sodales dolor accumsan, scelerisque lacus. Donec ipsum eros, pellentesque vitae vestibulum quis, commodo in velit. Aenean tincidunt, urna vitae convallis dignissim, leo nisl ultrices enim, vitae tincidunt arcu sapien a enim. Proin interdum arcu et est facilisis, in faucibus nunc fringilla. Quisque eu libero convallis, dignissim velit eget, porta orci. Aliquam laoreet diam quis eleifend vulputate. Aliquam non sapien eu dolor malesuada maximus. Suspendisse hendrerit id lectus sit amet commodo. Fusce iaculis cursus ex vitae mattis
                </div>
            </div>
            <br/>
            <div class="col-xs-12 col-sm-12"><div class="col-xs-12 col-sm-6">I am a title</div>
                <div class="col-xs-12 col-sm-6">sept 6th 2014</div>
                <div class="col-xs-12 col-sm-12">Lorem ipsum dolor sit amet, consectetur adipiscin
                    g elit. Vivamus tempus, erat eu mattis accumsan, nisl lectus consectetur ex, vel suscipit ex justo eget augue. Nam ultricies, nisl vel convallis tempor, libero urna mollis urna, nec congue sem erat in ex. Ut viverra lacus ornare, sodales dolor accumsan, scelerisque lacus. Donec ipsum eros, pellentesque vitae vestibulum quis, commodo in velit. Aenean tincidunt, urna vitae convallis dignissim, leo nisl ultrices enim, vitae tincidunt arcu sapien a enim. Proin interdum arcu et est facilisis, in faucibus nunc fringilla. Quisque eu libero convallis, dignissim velit eget, porta orci. Aliquam laoreet diam quis eleifend vulputate. Aliquam non sapien eu dolor malesuada maximus. Suspendisse hendrerit id lectus sit amet commodo. Fusce iaculis cursus ex vitae mattis
                </div>
            </div>
            <br/>
            <div class="col-xs-12 col-sm-12"><div class="col-xs-12 col-sm-6">I am a title</div>
                <div class="col-xs-12 col-sm-6">sept 6th 2014</div>
                <div class="col-xs-12 col-sm-12">Lorem ipsum dolor sit amet, consectetur adipiscin
                    g elit. Vivamus tempus, erat eu mattis accumsan, nisl lectus consectetur ex, vel suscipit ex justo eget augue. Nam ultricies, nisl vel convallis tempor, libero urna mollis urna, nec congue sem erat in ex. Ut viverra lacus ornare, sodales dolor accumsan, scelerisque lacus. Donec ipsum eros, pellentesque vitae vestibulum quis, commodo in velit. Aenean tincidunt, urna vitae convallis dignissim, leo nisl ultrices enim, vitae tincidunt arcu sapien a enim. Proin interdum arcu et est facilisis, in faucibus nunc fringilla. Quisque eu libero convallis, dignissim velit eget, porta orci. Aliquam laoreet diam quis eleifend vulputate. Aliquam non sapien eu dolor malesuada maximus. Suspendisse hendrerit id lectus sit amet commodo. Fusce iaculis cursus ex vitae mattis
                </div>
            </div>
            <br/>



        </div><!-- end news -->
        <div class="col-xs-12 col-sm-6 links">
            <h1 class="highlight-color">Links</h1>
            <ul class="nav-links fa-ul">

                <li><i class="fa-li fa fa-fw fa-graduation-cap"></i><a href="/learn">Learn</a></li>
                <li><i class="fa-li fa fa-fw fa-book"></i>
                    <a href="/reference/${wisdom.version}/index.html">Documentation</a></li>
                <li><i class="fa-li fa fa-fw fa-cubes"></i><a href="/download"> Download</a>
                </li>
                <li><i class="fa-li fa fa-fw fa-group"></i><a href="/">
                    Community</a></li>
            </ul>
        </div>
    </div>
        <!-- Insert footer -->
        <div th:replace="footer :: footer"></div>
    <!-- /.container -->
</div>
<div th:replace="scripts :: scripts"></div>
<script src="/assets/libs/wisdom-news.js"></script>
</body>


</html>