<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>Wisdom Framework</title>

    <link rel="shortcut icon" href="/assets/images/owl-small.png"/>
    <title>Wisdom Framework</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="/libs/bootswatch-yeti/css/bootstrap.css" media="screen"/>
    <!--<link rel="stylesheet" href="/libs/bootswatch-flatly/3.1.1/css/bootstrap-theme.css">-->

    <link rel="stylesheet" href="/libs/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="style.css"/>

</head>
<body>
<div class="blog-masthead">
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#links">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="images/owl-small.png"/>&nbsp;Wisdom
                    Framework</a>
            </div>
            <div class="collapse navbar-collapse navbar-right" id="links">
                <ul class="nav navbar-nav">
                    <li><a class="nav-item nav-active" href="/">Home</a></li>
                    <li><a class="nav-item" href="/learn">Learn</a></li>
                    <li><a class="nav-item" th:href="'/download'"> Download</a></li>
                    <li><a class="nav-item"
                           th:href="'/reference/' + ${wisdom.version} + '/index.html'">
                        Documentation</a></li>


                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Community <b
                                class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/learn/community/community.html">Mailing List and
                                Issues</a></li>
                            <li><a href="/releases">Release Notes</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<!-- End fragment -->
<div class="container-fluid">
    <div class="row section1">
        <div class="col-md-12 col-xs-12" id="intro">
            <h1>
            Wisdom:<br/>
            Enlighten your web development
            </h1>
            <h3>A high velocity web framework to build<br/> modular and dynamic
                applications in Java</h3>
            <br/>
        </div>
      <!--<div class="col-md-6 col-xs-6 myimage">-->
         <!--<img src="images/bamboo-2.jpg" class="img-responsive "-->
                                        <!--alt="Responsive image">-->

        <!--</div>-->
    </div>

    <div class="row section2">
        <div class="col-xs-12 col-sm-4">
            <img src="images/mod2-sm.jpg" class="img-responsive img-circle"
                 alt="Responsive image">
            <h2 class="green">
            Modular</h2>

            <p>
                Wisdom lets you build modular web applications. Instead of having everything in
                one
                package you can
                structure
                your application as you want, making pieces replaceable and adaptable.
            </p></div>
        <div class="col-xs-12 col-sm-4">
            <img src="images/chameleon-tribal-sm.png" class="img-responsive img-circle"
                 alt="Responsive image">
            <h2 class="green">Dynamic</h2>

            <p>
                Wisdom applications are natively dynamic, and can adapt themselves to meet new
                expectations and
                coping with environment fluctuations.
            </p></div>
        <div class="col-xs-12 col-sm-4">
            <img src="images/zen-stones-sm.jpg" class="img-responsive img-circle"
                 alt="Responsive image">
            <h2 class="green">Extensible
            </h2>

            <p>
                Wisdom provides everything you need to develop web applications: efficient
                development, tests,
                deployment, monitoring, administration... But, everything is customizable and
                extensible.
            </p>

        </div>
    </div>
    <div class="row section3">
        <div class="col-xs-12 myrow">
            <div class="col-xs-6 col-sm-3 mycol mycol-sm img-border">
                <img src="images/Zen-Stone-sm.jpg" class="img-responsive img-rounded side-img"
                     alt="Responsive image">
            </div>
            <div class="col-xs-6 col-sm-3 mycol mycol-sm">
            <h1 class="">
            Full Stack
        </h1>
            </div>
            <div class="col-xs-12 col-sm-6 mycol">
            <h2>
                The Wisdom technical stack relies on well-tried technologies integrated in a
                modular
                way. It covers
                development, testing, deployment, monitoring and administration.
            </h2>
            </div>
        </div>
        <div class="col-xs-12 java myrow">
            <div class="col-xs-6 col-sm-3 mycol img-border" id="java">
                <img src="images/cofeeowl-sm.jpg" class="img-responsive img-rounded side-img"
                     alt="Responsive image">

            </div>
            <div class="col-xs-6 col-sm-3 mycol">
            <h1 class="centerme">
            Java
        </h1>
                                  </div>
            <div class="col-xs-12 col-sm-6 mycol">
            <h2>
                Wisdom is a full stack based on Java and its ecosystem. And yes, Java can be used to
                build modern web
                applications without disowning itself, and actually it does it very well.
            </h2>
                </div>
        </div>

        <div class="col-xs-12 myrow osgi">
            <div class="col-xs-6 col-sm-3 mycol img-border">
                <img src="images/japanese_stone-sm.jpg" class="img-responsive img-rounded side-img"
                     alt="Responsive image">

            </div>
            <div class="col-xs-6 col-sm-3 mycol">
            <h1 class="centerme">
            OSGi<sup>&trade;</sup>
        </h1>
                </div>
            <div class="col-xs-12 col-sm-6 mycol">
            <h2>
                Wisdom relies on OSGi&trade; to enforce its modularity. OSGi&trade; is the most
                mature
                modularity model for
                Java. But don't worry, Wisdom makes it easy.
            </h2></div>
            </div>
        <div class="col-xs-12 maven myrow">
            <div class="col-xs-6 col-sm-3 mycol img-border">
                <img src="images/wave-sm.jpg" class="img-responsive img-rounded side-img"
                     alt="Responsive image">

            </div>
            <div class="col-xs-6 col-sm-3 mycol">
            <h1 class="">
            Apache Maven
        </h1>
                </div>

            <div class="col-xs-12 col-sm-6 mycol">
            <h2>
                Apache Maven is one of the most used build tools for Java applications. Wisdom
                relies on it but
                extend it to make development fast without breaking reproducibility and
                industrialization.
            </h2></div>
            </div>

    </div>
    <div class="row section4">
        <div class="col-xs-12 col-sm-6">
            <h1 class="mycolor">News</h1>
            <p>blahblah news is here wow</p>
        </div>
        <div class="col-xs-12 col-sm-6">
            <h1 class="mycolor">Links</h1>
            <ul class="navigation" id="nav-links">
                <li><a href=""> Learn</a></li>
                <li><a href="">Download</a></li>
                <li><a href="">Documentation</a></li>
                <li><a href="">Community</a></li>


            </ul>
        </div>

    </div>

</div>

<div>
    <script src="/libs/jquery.min.js"></script>
    <script src="/libs/js/bootstrap.min.js"></script>
</div>
</body>
</html>