@import url(http://fonts.googleapis.com/css?family=Bad+Script);
@import url(http://fonts.googleapis.com/css?family=Muli|Open+Sans+Condensed:300);
//@import url(/libs/bootstrap/3.1.1/less/bootstrap.less);
/* latin */
@font-face {
  font-family: 'danielregular';
  font-style: normal;
  font-weight: 400;
  src: url('daniel_regular_macroman/daniel-webfont.eot');
  src: url('daniel_regular_macroman/daniel-webfont.eot?iefix') format('eot'),
  url('daniel_regular_macroman/daniel-webfont.woff') format('woff'),
  url('daniel_regular_macroman/daniel-webfont.ttf') format('truetype'),
  url('daniel_regular_macroman/daniel-webfont.svg#webfont') format('svg');
}

@section1-color: white;
//@bg-color: #D7FF6A;
@bg-color: #626461;
@corners : 50px;
@fcolor-highlight: #c6fe6a;
//#EAFEC1;  //#E3FE68
//@section2-color:darken(@bg-color, 40%);
@section2-color: @bg-color;
@section3-color: lighten(@bg-color, 40%);
@section4-color: darken(@bg-color, 10%);    //#494A48

@link-color: #dddddd;
@link-hover-color: darken(@link-color, 15%);
@fcolor-light: #ececec;
@fcolor-medium: #DCDCDC;



.mainpage {
  background-color: @section4-color;
  footer {color:@fcolor-light;
    span{color: @fcolor-highlight;}
    a {
      color: @link-color;
      text-decoration: none;

      &:hover {
        color: @link-hover-color;
        text-decoration: underline;
      }
    }
  }


}

/* bootstrap theme override */

.jumbotron {
  background-color: @section3-color;
  h1 {
    text-align: center;
    font-family: 'Bad Script', cursive;
    font-size: xx-large;
  }

  h1, h2, p {
   // color:@fcolor-light;
    color:@section4-color;
  }
 .text-info{color: #cae8fe;}

}
.text-success {color: #428BCA;}
.text-primary {color: #4183C4;}
/* Specific changes for sizes
   tiny devices and up */
@media only screen and (min-width: 320px) {

  .centerme {
    padding-top: 30px;
  }

  .mycol {
    text-align: center;
  }
  .nav-links {
    width: 85%; }

}

/* Extra Small Devices and up, Phones */
@media only screen and (min-width: 480px) {

}

/* Small Devices and up, Tablets */
@media only screen and (min-width: 768px) {
  .myrow {
    display: table;
  }
  .centerme {
    padding-top: 0px;
  }

  .mycol {

    text-align: center;
    float: none;
    display: table-cell;
    vertical-align: middle;
  }

  .nav-links {width: 300px;
   }

}

/* Medium Devices and up, Desktops */
@media only screen and (min-width: 992px) {

}

/* Large Devices and up, Wide Screens */
@media only screen and (min-width: 1200px) {

}

.section2, .section3 {
  padding-bottom: 25px;
}

/* section one changes */
.section1 {
  background-color: @section1-color;
  h1 {
    color: black;
  }

  .myimage {
    padding: 0;
  }

  h3 {
    font-family: 'Bad Script', sans-serif;
    text-align: center;
  }

  #intro {
    background: url('images/bamboo-grad.jpg') no-repeat right bottom;
    background-size: 90% 100%;

  }
}

/* section two changes */
.section2 {
  padding-top: 15px;

  .img-responsive {
    margin-left: auto;
    margin-right: auto;
  }

  h2 {
    text-align: center;
    font-family: 'Bad Script', sans-serif;
  }

  p {
    text-align: center;
    font-family: 'muli';
  }
  background-color: @section2-color;
  color: @fcolor-light;
}

/* section three  changes */
.section3 {
  background-color: @section3-color
}

/* section four changes */
.section4 {
  background-color: @section4-color;
  color: @fcolor-medium;
  a {
    color: @link-color;
    text-decoration: none;

    &:hover {
      color: @link-hover-color;
      text-decoration: underline;
    }
  }
}

/* generic changes */

.navbar {
  margin-bottom: 0px;
  background-color: @section4-color;
  color: @link-color;

  }


.nav-links {
 margin: 0 auto;
  padding: 5px 0;

}

h1 {
  text-align: center;
  font-family: 'Bad Script', cursive;
  font-size: xx-large;
}

h2 {
  font-family: 'Muli', sans-serif;
  font-weight: lighter;
  font-size: larger;
}

#java3 {
  background-image: url(images/java_cup.png);
  background-size: auto;
}


.wisdom-title {
  font-family: 'Bad Script', cursive;
  padding-top: 50px;
  text-align: center;
}

.title-box {
  padding-bottom: 30px;
  font-family: 'Bad Script', cursive;
  font-size: xx-large;
  font-weight: bolder;
  text-align: center;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
  text-align: bottom;
}

.highlight-color{
  color: @fcolor-highlight;
}

.side-img {
  padding: 5px;
  background-color: @bg-color;
  margin: 5px;
  -webkit-box-shadow: 10px 10px 20px 0px rgba(108, 108, 108, 0.75);
  -moz-box-shadow: 10px 10px 20px 0px rgba(108, 108, 108, 0.75);
  box-shadow: 10px 10px 20px 0px rgba(108, 108, 108, 0.75);
  border: inherit 8px #000000;
  -moz-border-radius-topleft: @corners;
  -moz-border-radius-topright: @corners;
  -moz-border-radius-bottomleft: @corners;
  -moz-border-radius-bottomright: @corners;
  -webkit-border-top-left-radius: @corners;
  -webkit-border-top-right-radius: @corners;
  -webkit-border-bottom-left-radius: @corners;
  -webkit-border-bottom-right-radius: @corners;
  border-top-left-radius: @corners;
  border-top-right-radius: @corners;
  border-bottom-left-radius: @corners;
  border-bottom-right-radius: @corners;
}

.article {margin-bottom: 25px;
  a{font-family: 'Bad Script', cursive;
    font-size: large;
   // color: @fcolor-highlight
   }
   }
.date {text-align: right;
  font-family: 'Bad Script', cursive;
  font-size: large;}
.articlecontent {margin-top: 20px;}
.leaf {color:@fcolor-highlight;
  padding-right: 20px;}





